.header {
    height: 120px;
    background-image: linear-gradient(0, #ecbd09, #fac809);
}
/* Header nav bar CSS*/
.nav-bar {
    margin-top: 10px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.nav-bar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}


.nav-bar-item{
    display: flex;
    margin: 0 8px;
    position: relative;
}

.nav-bar-user {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.nav-bar-user__img {
    width: 21px;
    height: 21px;
    border-radius: 50%;
}

.nav-bar-user__name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 500;
}

.nav-bar-user__menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: 150%;
    right: 0;
    background-color: var(--white-color);
    width: 160px;
    border-radius: 2px;
    list-style: none;
    box-shadow: 0 1px 2px #ccc;
    display: none;
}

.nav-bar-user__menu::before {
    content: "";
    position: absolute;
    right: 27px;
    top: -29px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
} 

.nav-bar-user__item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 16px;
    display: block;
}

.nav-bar-user__item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.nav-bar-user__item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.nav-bar-user__item a:hover {
    background-color: #fafafa;
}

.nav-bar-user__item--red a {
    color: red;
}

.nav-bar-user:hover .nav-bar-user__menu {
    display: block;
    transform-origin: calc(100% - 20px) top;
    animation: growth linear 0.2s;
}

.nav-bar-item__cursor {
    cursor: pointer;
}

/*Header QR Code*/
.nav-bar_QR {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 140%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn linear 0.3s;
    z-index: 1;
}

.nav-bar_QR::before {
    width: 100%;
    left: 0;
    height: 10%;
    position: absolute;
    content: "";
    top: -16px;
    display: block;
}

.QR-code{
    width: 100%;
}

.nav-bar_apps{
    display: flex;
    justify-content: space-between;
}

.QR-link:nth-child(1) {
    margin-left: 11px;
}

.QR-link:nth-child(2) {
    margin-right: 11px;
}

.app_code{
    height: 16px;
}

/*Header notification*/
.nav-notify {
    position: absolute ;
    top: 150%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotify ease-in 0.2s;
    display: none;
    z-index: 3;
    
}

.nav-notify::before {
    content: "";
    border-style: solid;
    border-width: 22px 25px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -30px;
    right: 5px;
}

.nav-notify::after {
    content: "";
    display: block;
    width: 90px;
    height: 20px;
    position: absolute;
    right: 0;
    top: -15px;
    cursor: pointer;
}

@keyframes headerNotify {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.nav-notify_header {
    height: 40px;
    background-color: var(--white-color);
}

.nav-notify_header h3 {
    margin-left: 12px;
    color: #666;
    opacity: 0.5;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.nav-notify_list {
    padding-left: 0;
    height: 50vh;
    overflow-y: scroll;
}

.nav-notify_item {
    list-style-type: none;
}

.nav-notify_item:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.nav-notify_link {
    display: flex;
    padding: 12px;
    text-decoration: none;
    background-color: rgba(250, 200, 9, 0.1);
}

.nav-notify_img {
    width: 60px;
    object-fit: contain; /*Dùng để thay đổi kích thước của thẻ img*/
}

.nav-notify_info {
    margin-left: 12px;
}

.nav-notify_topic {
    display: block;
    color: #333;
    font-size: 1.3rem;
    font-weight: 500;
}

.nav-notify_description {
    display: block;
    margin-top: 5px;
    font-size: 1.2rem;
    color: #888;
}

.nav-notify_footer {
    text-align: center;
    margin: 10px 0;
}

.nav-notify_footer-btn {
    text-decoration: none;
    padding: 4px 16px;
    color: var(--text-color);
    font-weight: 500;
}

.nav-bar-item--has-notify {
    cursor: pointer;
}

.nav-bar-item--has-notify:hover .nav-notify {
    display: block;
}


/*Header nav bar right */
.nav-bar-item--hover_qr:hover .nav-bar_QR {
    display: block;
}

.nav-bar-item,
.navbar-item-link {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #255810;
    text-decoration: none;
}

.navbar-item-link:hover{
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.navbar-item-link:nth-child(2) {
    margin-left: -1px;
}

.nav-bar-item--seperate:after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #255810;
    height: 14px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.nav-bar-item--bold {
    font-weight: 600;
}

.nav-bar-item--nope {
    color: #255810;
    cursor: text;
}

.navbar-item-link__icon {
    margin-left: 8px;
}

.navbar-item-link__icon:hover {
    color: rgba(0, 0, 0, 0.3);
}

.nav-bar__notify-icon {
    margin-right: 5px;
}

.far {
    margin-right: 5px;
}

/*Authen Modal Register*/
.auth-form__container{
    padding: 0 32px;
}

.auth-form__header {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__register {
    font-size: 2.6rem;
    font-weight: 500;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 2.2rem;
    color: #fac809;
    cursor: pointer;
}

.auth-form__form {
    margin-top: 16px;
}

.auth-form__input {
    margin-top: 16px;
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    border: 1px solid rgb(190, 180, 180);
    border-radius: 2px;
    outline: none;
}

.auth-form__input::placeholder {
    padding: 0 10px;
}

.auth-form__policy {
    margin: 20px 0;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.color-link {
    text-decoration: none;
    color: #fac809;
}

.auth-form__policy > .color-link:hover {
    opacity: 0.5;
}

.auth-form__control {
    margin-top: 70px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__social {
    margin-top: 30px;
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
}

.auth-form__social--icon{
    font-size: 1.8rem;
}

.auth-form__social--facebook {
    color: var(--white-color);
    background-color: #3A5A98;
}

.auth-form__social--facebook
.auth-form__social--icon {
    color: var(--white-color);
}

.auth-form__social--google {
    background-color: #fff;
}

.auth-form__social--dec {
    margin: 0 15px;
}

/*Auth Modal Login*/
.auth-form__help {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.auth-form--seperate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #333;
    height: 14px;
    right: 127px;
    top: 53%;
    transform: translateY(-70%);
}

.forget-pass {
    margin-right: 15px;
    font-size: 1.5rem;
    color: #ecbd09;
    cursor: pointer;
}

.forget-pass:hover {
    opacity: 0.6;
}

.need-help {
    text-decoration: none;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.6);
}

.need-help:hover {
    color: #333;
}

/*Header Logo*/
.header-with-search {
    height: 92px;
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    height: 92px;
    width: 200px;
}

.header-logo__img {
    height: 95px;
    width: 150px;
    margin: 0 10px;
}

/*Header Search*/
.header__search {
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}

/*Nhấn chuột để hiện ra lịch sử, ~ là select hết tất cả phần tử kế bên nó*/
.header__search-input:focus ~ .header__search-history {
    display: block;
}

/*Header Search History*/
.header__search-history {
    position: absolute;
    left: 0;
    top: 110%;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 5px #c5c5c5;
    display: none;
    z-index: 2;
}

.header__search-history-heading {
    font-size: 1.5rem;
    font-weight: 400;
    color: #b2b2b2;
    padding: 9px 13px;
    cursor: default;
}

.header__search-history-list {
    list-style: none;
    padding: 0;
}

.header__search-history-item {
    padding: 9px 13px;
    text-decoration: none;
}

.header__search-history-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__search-history-item:hover {
    width: 100%;
    background-color: #eaeaea;
    cursor: pointer;
    
}

.header__search-select {
    border-left: 2px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-select-icon {
    font-size: 1.4rem;
    color: #4a4a4a;
    padding: 0 16px 0 10px;
    position: relative;
    top: 1px;
}

.header__search-select-icon:hover {
    color: #ecbd09;
}

.header__search-btn {
    background-color: #ecbd09;
    border: none;
    outline: none;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
}
.header__search-icon {
    font-size: 1.4rem;
    color: var(--white-color);
    position: relative;
    left: 3px;
}

.header__search-btn:hover {
    cursor: pointer;
    background-color: #f2d770;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 180%;
    padding: 0;
    list-style: none;
    width: 140px;
    box-shadow: 0 1px 2px #ccc;
    border-radius: 3px;
    display: none;
    z-index: 1;
}

.header__search-option::before {
    content: "";
    display: block;
    background-color: transparent;
    width: 100%;
    height: 20px;
    position: absolute;
    top: -20px;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px;
    text-align: right;
    cursor: pointer;
}

.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: #ecbd09;
    margin: 0 12px 0 8px;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
}


.header__cart--icon {
    color: #255810;
    font-size: 2.6rem;
    margin-top: 3px;
    cursor: pointer;
}

.header__cart-list {
    position: absolute;
    top: 130%;
    right: -8px;
    background-color: var(--white-color);
    width: 500px;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: none;
    transform-origin: calc(100% - 32px) top;
    animation: growth ease-in 0.2s;
    z-index: 2;
}

.header__cart-list::before {
    content: "";
    position: absolute;
    right: 15px;
    top: -20px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}


.header__cart-list-none-cart {
    padding: 50px 0;
}

.header__cart-none-cart-img {
    width: 30%;
}

.header__cart-none-product {
    display: block;
    font-size: 1.5rem;
    color: var(--text-color);
}


.header__cart-notice {
    position: absolute;
    top: -6px;
    right: -4px;
    padding: 1px 6px;
    background-color: var(--white-color);
    color: #ecbd09;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #d1b030;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-title {
    height: 40px;
    background-color: var(--white-color);
    text-align: left;
}

.header__cart-title h3 {
    margin-left: 12px;
    color: #666;
    opacity: 0.5;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__cart-has-list {
    padding: 0;
    height: 50vh;
    overflow-y: scroll;
}

.header__cart-item {
    display: flex;
    position: relative;
    padding: 6px 0;
}

.header__cart-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.header__cart-img {
    padding: 0 8px;
    width: 100px;
    object-fit: contain; /*Dùng để thay đổi kích thước của thẻ img*/
}

.header__cart-info {
    padding-right: 10px;
}

.header__cart-description {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__cart-cost {
    position: absolute;
    right: 6px;
    top: 6px;
    font-size: 1.4rem;
    color: #f4c307;
}

.header__cart-button {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    background-color: #fffdfd;
}

.header__cart-btn {
    width: 140px;
    font-size: 1.4rem;
    color: var(--text-color);
    border: none;
    background-color: #fad547;
    cursor: pointer;
}

.header__cart-btn:hover {
    opacity: 0.9;
}

/*App Container*/
.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 40px;
}

.category {
    background-color: #f5f5f5;
    border-radius: 2px;
}

.category-heading {
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 14px 16px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05)
}

.category-heading__icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding-left: 0;
    margin-left: 10px;
}

.category-item {
    list-style: none;
    padding: 10px 16px;
}

.category-item:first-child {
    padding-top: 14px;
}

.category-item__link {
    position: relative;
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
    transition: right linear 0.1s;
    right: 0;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

/*Home sort + filter*/
.home-filter {
    background-color: rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__title {
    color: #555555;
    font-size: 1.4rem;
    margin-right: 14px;
}

.home-filter-btn {
    font-size: 1.4rem;
    margin-right: 12px;
    min-width: 90px;
}

.home-filter__page {
    margin-left: auto;
}

.select-input {
    padding: 0 12px;
    z-index: 1;
}

.select-input__item {
    padding: 6px 0;
}


.select-input__link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
}

.select-input__link:hover {
    color: var(--primary-color);
}

.home-filter__page {
    font-size: 1.4rem;
    margin-right: 16px;
}

.home-filter__page-num {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    flex: 1;
    background-color: var(--white-color);
    text-decoration: none;
    display: flex;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
}

.home-filter__page-btn:hover {
    color: var(--primary-color);
}

.home-filter__page-btn--hide {
    opacity: 0.2;
}

/*Product Item*/
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    text-decoration: none;
    position: relative;
    margin-top: 10px;
    background-color: var(--white-color);
    cursor: pointer;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform; /*thuộc tính làm tăng độ mượt của animation*/
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    padding: 0 10px;
    margin: 10px 0;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    margin-left: 10px;
    justify-content: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through; /*Dùng để gạch giữa dòng*/
}

.home-product-item__price-current {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left: 5px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.home-product-item__like {
    margin-left: 10px;
}

.home-product-item__icon-nolike {
    font-size: 1.3rem;
}

i.home-product-item__icon-liked {
    font-size: 1.3rem;
    color: red;
    display: none;
}

.home-product-item__like--liked .home-product-item__icon-liked {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__icon-nolike {
    display: none;
}

.home-product-item__vote {
    color: rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    transform: scale(0.9);
    transform-origin: right;
    margin-left: auto;
}

.home-product-item__star--gold {
    color: #ffce3e;
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-right: 10px;
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__origin-name {
    margin-top: 10px;
}

.home-product-item__origin-place {
    margin-top: 10px;

}

.home-product-item__favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    background-color: var(--primary-color);
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.home-product-item__favorite::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid yellow;
    border-left: 3px solid transparent;
    filter: brightness(50%);
}

.home-product-item__favorite i {
    font-size: 0.9rem;
    margin-left: 3px;
    color: var(--white-color);
}

.home-product-item__favorite span {
    color: var(--white-color);
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--white-color);
    background-color: rgba(255, 216, 64, 1);
    height: 36px;
    width: 40px;
    text-align: center;
}

.home-product-item__sale-off-percent {
    color: #255810;
    font-size: 1.2rem;
    font-weight: 600;
}

.home-product-item__sale-off-label {
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 600;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    border-width: 0 20px 5px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 1) transparent rgba(255, 216, 64, 1);
}

.home-product__pagination {
    margin-top: 48px;
    margin-bottom: 32px;
}

/*Footer*/
.footer {
    border-top: 4px solid var(--primary-color);
    padding: 32px;
    background-color: var(--white-color);
}

.footer__heading {
    color: var(--text-color);
    font-size: 1.4rem;
    text-transform: uppercase;
}

.footer-list {
    padding-left: 0;
    list-style: none;
    padding-top: 8px;
}


.footer-item__link {
    text-decoration: none;
    color: #666;
    font-size: 1.2rem;
    padding: 4px 0;
    display: flex;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    object-fit: contain;
}

.footer__download-app {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-app-img {
    height: 25px;
}

.footer__download-app-link {
    color: transparent;
    text-decoration: none;
}